@import url('http://fonts.cdnfonts.com/css/8bit-wonder');
body{
  font-family: '8BIT WONDER', sans-serif;
}
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position:absolute;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  z-index: 1;
  background-color: #Eab676;
}
#pauseMenu{
  position:relative;
  margin:auto;
  margin-top:25vh;
  background-color: rgba(44, 42, 42, 0.596);
  width:30vw;
  height: 50vh;
  padding:10px;
}
#pauseMenu>h2{

  font-size:40px;
  text-align: center;
  color:white;
}
#pauseMenu>div{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  text-align: center;
}
button{
  font-family: '8BIT WONDER', sans-serif;

}
#pauseMenu>div>button{
  width: 50%;
  margin:auto;
  margin-top:3vh;
  height: 5vh;
  font-size:20px;

}