@import url('https://fonts.cdnfonts.com/css/8bit-wonder');
#home{
    width: 2vw;
    image-rendering: pixelated;
}
body{
  font-family: '8BIT WONDER', sans-serif;
  background-color: #232423;
}
h1{
    text-align: center;
    color:white;
}
button{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border:none;
    background-color: #1d9142;
    color:white;
}
button:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
.mapContainer{
    background-color:#6e6c6c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    height: 100px;
    margin-top:20px;
    border-radius: 10px;
}
.maps{
    width: 60%;

    margin-left:auto;
    margin-right:auto;
}
.title{
    text-align: center;
    color:black;

}
.image{
    grid-row: span 2;   
    grid-column: span 2;
    
    overflow: hidden;
    display:flex;
    justify-content: flex-end;
}
.image>img{
   
    height: 100%;
    
}
.description{
    grid-column:span 2;
}
.author{
    color:rgba(0, 0, 0, 0.5);

    text-align: center;
}
.mapContainer>button{
    grid-column: span 4;
    border:none;
}
body{

    margin:0;
    padding:0;
}