footer{
    position:absolute;
}
form{
    margin:auto;
    width: 50%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top:5vh;
}
input[type="text"]{
    border:none;
    height: 50px;

}
input[type="submit"]{
    height: 75px;
    border:none;
    background-color: #1d9142;
    color:white;
}
nav{
    display:flex;
    justify-content: center;
    padding:10px;
    
}
nav>div{
    margin-left:10px;
    margin-right:10px;
}
.navActive{
    background-color: lightgreen;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: darkgray;
}
h3{
    text-align: center;
    color:lightgray;
}
.waveDiv{
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    background-color: rgb(53, 53, 53);
}
.groupsContainer{
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    background-color: rgb(104, 103, 103);

}
#narzedzia{
    background-color: #fff;
  
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    margin-bottom: 0;

}

#narzedzia>button>img{
    width: 5vw;
    height: 5vw;
}
#saveBtn{
    justify-self: flex-end;
    
}
button>img{
    width: 100%;

}
 canvas{
    position: block;
 }
button{
    padding:0;
    border:none;
}
body{
    margin:0;
    padding: 0;
}

