@import url('https://fonts.cdnfonts.com/css/8bit-wonder');
body{
  font-family: '8BIT WONDER', sans-serif;
}
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position:absolute;
}
body {
  margin: 0;
  padding: 0;
}
#home{
  justify-self: flex-end;
}
nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  z-index: 1;
  background-color: #Eab676;
  
  height: 30px;
}
#pauseMenu,#endMenu{
  position:relative;
  margin:auto;
  margin-top:25vh;
  background-color: rgba(44, 42, 42, 0.596);
  width:50%;
  height: 50vh;
  padding:10px;
}
#pauseMenu>h2,#endMenu>h2{

  font-size:40px;
  text-align: center;
  color:white;
}
#pauseMenu>div,#endMenu>div{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  text-align: center;
}
button{
  font-family: '8BIT WONDER', sans-serif;

}
#pauseMenu>div>button,#endMenu>div>button{
  width: 60%;
  margin:auto;
  margin-top:3vh;
  height: 5vh;
  font-size:20px;

}
body{
  background-color: #506034;
}

@media only screen and (max-width: 600px) {
  #pauseMenu,#endMenu{
    width: 100%;
  }
 }